################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DioDocs/DioDocs1/.vs/DioDocs1/v16/.suo
/DioDocs/DioDocs1/DioDocs1/bin/Debug/netcoreapp3.1
/DioDocs/DioDocs1/DioDocs1/obj
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/Book1.xlsx
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/Book2.xlsx
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.deps.json
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.exe
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.pdb
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.runtimeconfig.dev.json
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/DioDocs2.runtimeconfig.json
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.Barcode.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.Common.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.DataVisualization.Chart.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.Excel.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.Imaging.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/GrapeCity.Documents.Pdf.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/ja/GrapeCity.Documents.Common.resources.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/ja/GrapeCity.Documents.Excel.resources.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/ja/GrapeCity.Documents.Imaging.resources.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/ja/GrapeCity.Documents.Pdf.resources.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/ko-KR/GrapeCity.Documents.Excel.resources.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/System.IO.Packaging.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Xml.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/DioDocs/DioDocs1/DioDocs2/bin/Debug/netcoreapp3.1/zh-CN/GrapeCity.Documents.Excel.resources.dll
/DioDocs/DioDocs1/.vs/DioDocs1/v15/.suo
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/apphost.exe
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.AssemblyInfo.cs
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.AssemblyInfoInputs.cache
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.assets.cache
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.csproj.CopyComplete
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.csproj.CoreCompileInputs.cache
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.csproj.FileListAbsolute.txt
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.dll
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.genruntimeconfig.cache
/DioDocs/DioDocs1/DioDocs2/obj/Debug/netcoreapp3.1/DioDocs2.pdb
